{{ define "main" }}
  <article class="doc-page">
    {{- $title := partial "title.html" . -}}
    {{- $actions := partial "page-actions.html" . -}}
    {{ if or $title $actions }}
      <header class="doc-header">
        {{ if $title }}
          <p class="section-label">Documentation</p>
          <h1>{{ $title }}</h1>
        {{ end }}
        {{ $actions }}
      </header>
    {{ end }}
    {{ if gt (len .Fragments.Headings) 0 }}
      <aside class="site-toc-inline" aria-label="Page table of contents">
        {{ partial "toc.html" (dict "page" . "id" "TableOfContentsInline") }}
      </aside>
    {{ end }}
    <div class="doc-content">
      {{ .Content }}
    </div>
    {{ partial "next-links.html" . }}
  </article>
{{ end }}
